 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', Roboto, monospace;
    font-weight: 900;
    font-size: 32px;
    color: white;
    text-align: center;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 85, 50);
    box-shadow: 0 0 500px 100px rgb(0, 24, 21) inset;
}

.calculator-container{
    flex: 0.5;
    display: flex;
    justify-content: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 370px;
    height: 500px;
    /* background-color: rgb(51, 51, 51); */
    background: rgb(50,50,59);
    background: linear-gradient(0deg, rgba(50,50,59,1) 40%, rgba(76,103,87,1) 100%);
    border-radius: 12px;
    border: 4px solid rgb(255, 255, 255, 0.3);
    border-bottom: 16px solid rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 5px 5px rgb(255, 255, 255, 0.3) inset;
    box-shadow: 0px -30px 100px 0 rgb(0, 0, 0);
}

.display{
    display: flex;
    flex: 0.33;
    background-color: rgb(0, 0, 0);
    margin: 4px;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0 50px 150px 10px rgba(128, 128, 128, 0.4) inset;  
    /* flex-direction: column; */
    justify-content: center;
    justify-items: center;
}

@keyframes blinkBlink{
    0% {color: rgb(140, 255, 236, 1.0);}
    50%{color: rgb(140, 255, 236, 0);}
    /*66%{color: rgb(140, 255, 236, 1.0);}
    99%{color: rgb(140, 255, 236, 0);}*/
}

.blink{
    animation : blinkBlink 1.5s infinite linear;
}

.output, .blink{
    margin-top : 80px;
    font-size: 40px;
    color: rgb(140, 255, 236);
    letter-spacing: 1px;
    font-weight:100;
    text-shadow: 0 0 20px rgba(122, 255, 226, 0.61);    
}

.keyboard{
    display: flex;
    flex: 0.66;  
    margin: 5px;
}

.keyboard-numbers, .keyboard-functions{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    border-radius: 10px;
}

.keyboard-numbers{
    flex: 0.6;
    margin-right: 2px;
}

.keyboard-functions{
    flex: 0.4;
    margin-left: 2px;
}

.key-line{
    display: flex;
    flex: 1;
}

.key, .double-key{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: rgb(79, 120, 136);
    border: 4px solid  rgb(11, 69, 92);
    border-bottom: 6px solid  rgb(115, 164, 184);;
    box-shadow: 0 0 6px 3px  rgb(79, 120, 136) inset;
    box-shadow: 0 0 2px 2px rgb(28, 28, 28);
    border-radius: 3px;
    margin: 2px;
}

.key:hover, .double-key:hover{
    box-shadow: 0 0 12px 6px  rgb(58, 92, 106) inset;    
}

.key:active, .double-key:active{
    box-shadow: 0 0 12px 6px  rgb(51, 137, 174) inset;  
    border-color:  rgb(51, 137, 174); 
    border-bottom: 3px;
}

.key{
    flex: 1;
}

.double-key{
    flex: 1;
}

.extra{
    background-color: rgb(196, 105, 44);
    border: 4px solid  rgb(151, 75, 23);
    border-bottom: 7px solid  rgb(248, 142, 71);
    box-shadow: 0 0 6px 3px  rgb(196, 105, 44) inset;
    box-shadow: 0 0 3px 1px black;
}

.extra:hover{
    box-shadow: 0 0 12px 6px  rgb(170, 83, 25) inset;   
}

.extra:active{
    box-shadow: 0 0 12px 6px  rgb(255, 102, 0) inset;  
    border-color: rgb(255, 102, 0); 
    border-bottom: 3px;
}

#smallerFont{
    font-size: 28px;
}